@import 'components/color';
@import "variables";


label{
  color:$brand-dark-vi !important;
  @extend .light;
}
.purple {
  input {
    color: $brand-white;
  }
  // Style Placeholders
  ::-webkit-input-placeholder {
    color: rgba($brand-white, 0.35); font-weight: 300;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: rgba($brand-white, 0.35);font-weight: 300;

  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba($brand-white, 0.35);font-weight: 300;

  }

  :-ms-input-placeholder {
    color: rgba($brand-white, 0.35);font-weight: 300;

  }
}

