@import "variables";
@import "utilities";
@import "mixins";

$header-height: 160px;
$main-margin: 50px;
$main-height: calc(100% - 115px);

html, body {
  @extend %h-full;
}

header {

  @media screen and (max-width: 992px) {
    nav .nav-wrapper {
      padding-top: 45px;
    }

  }

  nav.top-nav {
    height: $header-height;
    @extend %z-depth-0;

    .page-title {
      position: relative;

      font: {
        size: 28px;
        weight: 300;
      }
    }
  }

  a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 6px;
    top: 6px;
    float: none;
    color: $brand-white;
    font-size: 32px;
    z-index: 2;
  }

  .user-menu {
    position: absolute;
    top: 0px;
    right: 36px;

    > li {
      > a {
        background-color: transparent;
        @extend %z-depth-0;

        i {
          line-height: 59.5px;
        }

        &:hover {
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        }

      }
      &.user {
        @extend %rel;

        &::after {
          display: block;
          position: absolute;
          right: -18px;
          top: 21px;
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
          content: 'keyboard_arrow_down';
        }
        > a {
          margin: 0;

          .user-avatar {
            border: 2px solid $brand-white;
            margin: 8px;
            i {
              width: 36px;
              margin: 0;
              font-size: 1.6rem;
              height: 36px;
              line-height: 36px;
            }
          }

        }

        .dropdown-content {
          left: auto;
          right: -26px;
          > li {
            text-align: center;
          }
        }
      }
    }
    blockquote {
      padding: 0 20px;
      border: 0;
    }
  }

  .date-range {
    border: 1px solid $brand-white;
    height: 36px;
    @include border-radius(18px, 18px, 18px, 18px);
    margin: 16px 0;
    position: relative;

    &:hover {
      border-color: rgba($brand-white, 0.8);
      color: rgba($brand-white, 0.8);
    }

    .absolute {
      top: 0px;
      font-size: 1.6rem;
      height: 36px;
      line-height: 36px;
      pointer-events: none;

      &.left {
        left: 12px;
      }
      &.right {
        right: 12px;
      }
    }
    input[type=text] {
      @include border-radius(18px, 18px, 18px, 18px);
      padding: 0 36px 0 46px;
      width: auto;
      cursor: pointer;
      height: 36px;
      line-height: 36px;
      vertical-align: top;
      margin: 0;
      border: 0;
    }
  }
}

main {
  margin-top: -$main-margin;
  height: $main-height;

  .container {
    min-height: 100%;
    @extend %z-depth-2; /*remove*/
  }

  .scrollToTop {
    position: fixed;
    right: 1%;
    bottom: 1%;
  }

}

.side-nav {
  width: 80px;
  padding: 0;
  height: 100%;
  @include webkit-scrollbar(6px, $brand-lighten-iv, $brand-lighten-iv, $brand-lighten-i);

  &.leftside-navigation {
    .tabs {
      height: auto;
      padding-top: 115px;
    }

    .close {
      top: 0;
      height: 45px;
      line-height: 45px;
      width: 45px;
      text-align: center;
      padding: 0;
      margin: 15px 12px;
      font-size: 1.5rem;
    }

    .list-header {
      padding: 1rem 0;

      .h5 {
        font-size: 1.2rem;
        line-height: 46px;
        @extend .light;
      }
      a {
        text-transform: none;
        font-size: 0.9rem;
        line-height: 46px;
        height: auto;
        padding: 0;

        i {
          font-size: 0.9rem;
          margin-right: 3px;
        }
      }
    }

    .collapsible-header {
      margin: 0;
      padding: 0 0;
      line-height: 46px;
      i {
        margin-right: 0;
      }

      &.active {
        border-bottom: 1px solid rgba($brand-white, 0.1);
        color: $brand-white;
        text-shadow: 0 0 5px rgba($brand-black, 0.5);
      }
    }

    .collapsible-body {
      padding: 0 0 1em 1em;
      li a {
        margin: initial;
      }
    }

    .items {
      padding: 0 0.5rem;

      .item {
        @extend %rel;
        padding: 0 1rem 0 0.5rem;
        margin: 1rem 0.5rem;

        a {
          height: auto;
          line-height: 125%;
          font-size: 0.9rem;
          letter-spacing: 0.025rem;
          @extend .light;
        }
        .item-type {
          line-height: 125%;
          @extend .tiny;
          position: absolute;
          top: 0;
          left: 0;
        }
        .delete {
          position: absolute;
          top: -0.8rem;
          right: -0.5rem;
          background-color: transparent;
          font-size: 1rem;
          pointer-events: none;
          opacity: 0;
          @include transition(all, 0.35s, ease-in-out);
        }
        &:hover {
          .delete {
            pointer-events: all;
            opacity: 1;
          }
        }
      }
    }

  }

}

.side-nav-queries {
  width: 0;
}

.side-nav.fixed {
  a {
    font-size: 2rem;
    padding: 0 10px;
  }

  .main-nav {
    @extend .list-unstyled;

    > li {
      position: relative;
      height: 64px;

      &:hover, &.active {
        background-color: transparent;
        > a {
          @extend .blue-text;
        }
      }

      &.active {
        &::before {
          @extend .blue;
          width: 2px;
          position: absolute;
          height: 100%;
          content: '';
          left: 0;
        }
      }
    }
  }
  .brand-logo, .help {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
  }
  .brand-logo {
    top: 0;
    img {
      height: 58px;
      width: 58px;
    }
  }

  .help {
    bottom: 0px;
    font-size: 2.5rem;

  }
}

.query-builder {
  position: relative;
  @include transition(all, 0.35s, ease-in-out);

  .search-container {
    margin: 0 12px;
    @include transition(all, 0.35s, ease-in-out);
    padding: 8px 6px 0px 3.8rem;
    border: 0px;
    border-bottom: 1px solid $input-border-color;
    &:hover, &:focus {
      border-color: $primary-color;

    }
    .prefix {
      left: 0;
    }

    .search-area {
      min-height: 36px;

      .queries-nav-collapse {
        width: 3.8rem;

        .small {
          margin: 0;
        }
        .tiny {
          font-size: 1.35rem;
          margin: 5px 0 0 0;
        }

        &:hover {
          @extend .light-blue-text, .text-accent-4;

        }
      }

      &-tools {
        position: absolute;
        right: 0;
        top: 10px;

        a {
          font-size: 20px;
        }
      }

      .chip {
        i {
          line-height: 24px;
          width: 24px;
          height: 24px;
          margin: 4px -6px 0 6px;
          padding: 0;
          text-align: center;
          @extend .circle;
          @include transition(all, 0.35s, ease-in-out);
        }
        &:hover {
          @extend %z-depth-1;
          i {
            background-color: rgba($brand-white, 0.5);

            &:hover {
              background-color: rgba($brand-white, 1);
              @extend .red-text;
            }
          }
        }
      }

      .materialize-textarea {
        height: 1rem;
        line-height: 30px;
        min-height: 36px;
        margin-bottom: 0;
        padding: 0 60px 6px 0;
        font-size: 0.9rem;
        box-sizing: border-box;
        margin-left: 0;
        border: 0;
        width: calc(100% - 3.8rem);
      }

      input[type=text] {
        @extend .light-blue-text, .text-accent-4;
        min-height: 32px;
        height: auto;
        border: 0px;
        @extend %z-depth-0;
        padding: 0;
        width: auto;
        display: inline-block;
        margin: 0 6px;
        font-size: 0.9rem;
      }

    }
  }

  .filters-nav {
    font-size: 0.9rem;

    .clear-filters {
      vertical-align: middle;

      i {
        font-size: 1.2rem;
        vertical-align: top;
        line-height: 21px;
        margin-left: 6px;
      }
    }
  }

  .query-toolbar {
    right: 12px;
    $position: 36px/2;
    bottom: -$position;
    li > a.btn.circle {
      text-transform: none;
      padding: 0 18px;
    }
  }

  .clear-search-area, .clear-filters {
    &:hover {
      @extend .red-text, .text-accent-4;
    }
  }

}

.result-tabs {
  height: 80px;
  margin: 0;

  > .tab {

    > a {
      padding: 0 5%;
      line-height: 80px;
      font-size: 1.15rem;
      display: inline;

      > span {
        @extend .light;
      }
    }
  }
  .indicator {
    background-color: $brand-lighten-vi;
  }
}

.results {
  max-width: 660px;
  margin: 10px auto;
  padding: 10px;

  .navbar {
    padding: 6px 12px;
    height: 54px;

    .select-wrapper {
      @extend .grey-text, .darken-3;

      input.select-dropdown {
        border: 0;
        font-size: 0.9rem;
      }
      .caret {
        top: -8px;
        @extend .grey-text, .darken-3;
      }
      &:hover {
        @extend .blue-text, .lighten-4;

        .caret {
          @extend .blue-text, .lighten-4;
        }
      }

    }
  }

  .article-list {
    article {
      padding: 12px 0;
      border-bottom: 1px solid;
      border-color: $brand-lighten-iv;
      @include transition(all, 0.35s, ease-in-out);

      .toolbar {
        opacity: 0;
        @include transition(all, 0.35s, ease-in-out);
      }

      &:hover {
        @extend %z-depth-1;
        .toolbar {
          opacity: 1;
        }
      }
      .avatar {
        width: 1.8rem;
        vertical-align: middle;
        margin: 0 0.35rem;
      }
      .date-time {
        line-height: 26px;
      }
    }
  }
}

.filter {

  .nav-horiz {
    > li > a {
      color: $brand-white;
      padding: 15px 0 5px 0;

      &:hover {
        color: rgba($brand-white, 0.8) !important;
      }
    }
  }

  .header {
    color: rgba($brand-white, 0.8);
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    @extend .light;

    .dropdown-button {
      color: $brand-white;
      @extend .light;
      i.right {
        margin-left: 0;
      }
    }
  }

  .select-operator {
    padding-top: 12px;
    text-transform: uppercase;

    .dropdown-content {
      bottom: 20px;
      top: auto !important;
      > li {
        min-height: 0px;
        > a {
          line-height: 100%;
        }
      }
    }
  }

  .filter-search-area {
    padding: 8px 6px;
    border: 0px;
    border-bottom: 1px solid rgba($brand-white, 0.5);
    &:hover, &:focus {
      border-color: $brand-white;

    }

    .chip {
      background-color: rgba($brand-white, 0.35);
      @extend .white-text, .light;
      i {
        @extend .purple-text, .text-darken-1;
        line-height: 24px;
        width: 24px;
        height: 24px;
        margin: 4px -6px 0 6px;
        padding: 0;
        text-align: center;
        @extend .circle;
        @include transition(all, 0.35s, ease-in-out);
      }
      &:hover {
        @extend %z-depth-1;
        i {
          background-color: rgba($brand-white, 0.5);

          &:hover {
            background-color: rgba($brand-white, 1);
            @extend .red-text;
          }
        }
      }
    }

    input[type=text] {
      min-height: 32px;
      height: auto;
      border: 0px;
      @extend %z-depth-0;
      padding: 0;
      width: auto;
      display: inline-block;
      margin: 0 6px;
      font-size: 0.9rem;

      &:hover, &:focus {
        border: 0px;

      }
    }
  }

}

.intro {
  padding-top: 150px;
  @extend .light-blue, .accent-4;
  font-size: 1.2rem;

  .container {
    background: transparent !important;
    @extend %z-depth-0;

    .query-builder {
      background: transparent !important;

      .queries-nav-collapse,
      .filters-nav > li > a {
        color: rgba($brand-white, 0.8);
        &:hover {
          color: $brand-white !important;
        }
      }

      .filters-nav {
        font-size: 1.2rem;
        margin: 0 auto;
        text-align: center;
        display: table;

        > li {
          margin: 0 0 0 24px;

        }
      }

      .materialize-textarea {
        border-color: rgba($brand-white, 0.25);
        color: $brand-white !important;
        font-size: 1.2rem;

        &:hover, &:focus {
          border-color: rgba($brand-white, 0.75);

        }
      }

      ::-webkit-input-placeholder {
        font-size: 1.2rem;
        color: rgba($brand-white, 0.5) !important;
      }
      :-moz-placeholder {
        font-size: 1.2rem;
        color: rgba($brand-white, 0.5) !important;
      }
      ::-moz-placeholder {
        font-size: 1.2rem;
        color: rgba($brand-white, 0.5) !important;
      }
      :-ms-input-placeholder {
        font-size: 1.2rem;
        color: rgba($brand-white, 0.5) !important;
      }

    }

    .result-container, .query-toolbar, .search-area-tools {
      opacity: 0;
      pointer-events: none;
    }

  }
}

main, main .container, .query-builder, .result-container, .query-toolbar, .search-area-tools, .filters-nav {
  @include transition(all, 0.65s, ease-in-out);
  opacity: 1;
}
